parameters:
    mailer_transport: smtp
    mailer_host: symfony_mailcatcher
    mailer_port: 1025
    mailer_user: ~
    mailer_password: ~

    redis_dsn: redis://symfony_redis

    elasticsearch_host: symfony_elasticsearch
    elasticsearch_port: 9200
    elasticsearch_index_name: sample

    secret: ThisTokenIsNotSoSecretChangeIt

    allowed_origins: ['/^.*/i']
