parameters:

    mailer_transport: smtp
    mailer_host: symfony_mailcatcher
    mailer_port: 1025
    mailer_user: ~
    mailer_password: ~

    redis_dsn: redis://symfony_redis

    secret: ThisTokenIsNotSoSecretChangeIt

    allowed_origins: ['/^.*/i']
